/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
  overflow-x:auto;
}


  body{
    background-color: #568ea6;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight: normal;
    line-height: 1.6em;
  margin:0;
  }
  

/* Jackson's css */
a{
    text-decoration: none;
    color:#fff;
    
  }

  
h3 {
  padding: 20px;
  line-height: 20px;
  font-size: 30px;
  font-weight: bold;
  color:#fff;
}

h4 {
  padding: 15 px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 10px;
}

button {
  margin: auto;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

#textBox {
  margin: auto;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  height: 60px;
}

#maxBox{
  margin: auto;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  height: 60px;
}

#minBox{
  margin: auto;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  height: 60px;
}

#output{
  background-color: #936cca;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 600px;
  
}

#numOutput{
  background-color: #936cca;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 600px;
  
}

  /* Creating a standard header across all pages*/
  .main-header{
    text-align:center;
    font-weight:800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:200%;
    letter-spacing: .3em;
    background-color: #305f72;
    color:White;
    padding:45px 45px 65px 45px;
  }
  
  .container{
    margin:auto;
  }
  
  
  /*Formatting for the navBar in the main header*/
  .navBar li{
    
    letter-spacing: .2em;
    list-style: none;
    padding: 30px 40px 0px 0px;
    float:right;
  }

  .navBar ul{
    text-decoration:none;
  }

  .navBar a:hover{
    color:#d3d3d3;
  }

  /* Custom class to animate div borders with a gradient */
  .gradient-border {
    margin: auto;
    --border-width: 4px;
    position: relative;
    justify-content: center;
    align-items: center;
     width: 600px;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    line-height: 20px;
    color: white;
    background: #033270;
    border-radius: var(--border-width);
  }
    .gradient-border::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
    }

  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }

  /* Two custom Ids */
  #inner-paragraph {
    padding: 0px 20px 20px 20px;
  }

  #picture-rounding {
    padding: 20px;
    border-radius: 3em;
    display: block;
    margin: auto;
    
  }

  #buttonLink {
    display: block;
    margin:auto;
    padding: 15px;
  }

  #footer-pad{
    padding-top: 20px;
  }

/* Kalyn*/
/*Step two, five-ten different style properties that target the entire webpage*/
h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  text-emphasis: bold;
}

h2{
  color:#f18c8e;
  font-size: 40px;
  font-weight: bolder;
}

p {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

table {
  border: 1px dotted #033270;
}

footer {
  border: 1px solid #305f72;
  background-color: #305f72;
  color: white;
  text-align: center;
}

img {
  width: auto;
  height: auto;
}
/*Evan whole page styles*/

ol{
  border: solid black;
  border-radius: 10px;
}

li{
  font-size: larger;
}


div{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  border:transparent;
}

/*Custom class that targets only Kalyn's page*/
/*container for image*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 570px;
  border: 1px solid #033270;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #033270;
  color: #dbb7f3;
  transform: rotateY(180deg);
}

.kalyn-padding{
  padding-left: 5px;
}

/*Custom IDs that targets only Kalyn's page*/
#kalyn-image {
  width: 500px;
  height: auto;
  border: 1px solid #033270;
}

#kalyn-border {
  border: 5px dotted #033270;
  position:absolute;
  top: 275px;
  left: 520px;
  height: 1000px;
  width: auto;
}

canvas {
  box-shadow: black 20px 10px 50px;
}

.canvas-align{
  margin:0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Kalyn's animation*/
@keyframes border-change {
  0% {border-color: #033270; color:#033270;}
  50% {border-color: #66105E; color:#66105E}
  100% {border-color: #1b4172; color:#1b4172}
}

.kalyn-animation {
  animation-name: border-change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* Evan page targets*/
#EvanScale{
  width: 400px;
  height: auto;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 5px;
  border-radius: 10px;
}
#evanBio{
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 5px;
  padding:4px;
}
.evanText{
  font-size: 30px;
  line-height: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}
.evanTitle{
  color:#220649;
  
}

/* Evan Animation */

@keyframes border-color {
  0% {border-color: #3b0370; color:#3b0370;}
  50% {border-color: #c03481; color:#c03481}
  100% {border-color: #3b0370; color:#3b0370}
}

.evan-animation {
  animation-name: border-color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

/*Team combined declaration syntax tag selectors*/
img.team-page{
  width: 500px;
  height: 600px;
}

p#design {
  background-color: #033270;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
}

body.border{
  border: 5px solid #033270;
}

#balloonId{
  color:white;
  font-size: 100px;
  line-height: 100px;
}